-- WARNING: This schema is for context only and is not meant to be run.
-- Table order and constraints may not be valid for execution.

CREATE TABLE public.campaigns (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  store_id uuid NOT NULL,
  product_name text NOT NULL,
  price numeric,
  audience text,
  objective text,
  image_url text,
  headline text,
  body_text text,
  cta text,
  status text DEFAULT 'draft'::text,
  created_at timestamp without time zone DEFAULT now(),
  ai_text text,
  ai_caption text,
  ai_hashtags text,
  ai_cta text,
  ai_generated_at timestamp with time zone,
  reels_hook text,
  reels_script text,
  reels_shotlist jsonb,
  reels_on_screen_text jsonb,
  reels_audio_suggestion text,
  reels_duration_seconds integer,
  reels_caption text,
  reels_cta text,
  reels_hashtags text,
  reels_generated_at timestamp with time zone,
  product_positioning text,
  description text,
  type text,
  product_image_url text,
  CONSTRAINT campaigns_pkey PRIMARY KEY (id),
  CONSTRAINT campaigns_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id)
);
CREATE TABLE public.feedback_messages (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  user_id uuid NOT NULL,
  store_id uuid NOT NULL,
  page_path text,
  step text,
  attempt text,
  result text,
  would_help_sales text,
  improvement text,
  would_post text,
  reason_not_post text,
  score integer CHECK (score >= 0 AND score <= 10),
  allow_contact boolean DEFAULT false,
  user_agent text,
  CONSTRAINT feedback_messages_pkey PRIMARY KEY (id),
  CONSTRAINT feedback_messages_user_fk FOREIGN KEY (user_id) REFERENCES auth.users(id),
  CONSTRAINT feedback_messages_store_fk FOREIGN KEY (store_id) REFERENCES public.stores(id)
);
CREATE TABLE public.generation_feedback (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  user_id uuid NOT NULL,
  store_id uuid NOT NULL,
  campaign_id uuid,
  weekly_plan_id uuid,
  page_path text,
  content_type text NOT NULL CHECK (content_type = ANY (ARRAY['campaign'::text, 'reels'::text, 'weekly_plan'::text, 'weekly_strategy'::text])),
  vote text NOT NULL CHECK (vote = ANY (ARRAY['yes'::text, 'maybe'::text, 'no'::text])),
  reason text,
  would_post text,
  user_agent text,
  CONSTRAINT generation_feedback_pkey PRIMARY KEY (id),
  CONSTRAINT generation_feedback_user_fk FOREIGN KEY (user_id) REFERENCES auth.users(id),
  CONSTRAINT generation_feedback_store_fk FOREIGN KEY (store_id) REFERENCES public.stores(id),
  CONSTRAINT generation_feedback_campaign_fk FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id),
  CONSTRAINT generation_feedback_weekly_plan_fk FOREIGN KEY (weekly_plan_id) REFERENCES public.weekly_plans(id)
);
CREATE TABLE public.store_members (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  store_id uuid NOT NULL,
  user_id uuid NOT NULL,
  role text NOT NULL DEFAULT 'owner'::text,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT store_members_pkey PRIMARY KEY (id),
  CONSTRAINT store_members_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id),
  CONSTRAINT store_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id)
);
CREATE TABLE public.stores (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  name text NOT NULL,
  city text,
  state text,
  logo_url text,
  created_at timestamp without time zone DEFAULT now(),
  brand_positioning text,
  main_segment text,
  tone_of_voice text,
  address text,
  neighborhood text,
  phone text,
  whatsapp text,
  instagram text,
  primary_color text,
  secondary_color text,
  owner_user_id uuid NOT NULL,
  CONSTRAINT stores_pkey PRIMARY KEY (id),
  CONSTRAINT stores_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES auth.users(id)
);
CREATE TABLE public.weekly_plan_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  plan_id uuid NOT NULL,
  day_of_week integer NOT NULL CHECK (day_of_week >= 1 AND day_of_week <= 7),
  content_type text NOT NULL CHECK (content_type = ANY (ARRAY['post'::text, 'reels'::text])),
  theme text NOT NULL,
  recommended_time text,
  campaign_id uuid,
  brief jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT weekly_plan_items_pkey PRIMARY KEY (id),
  CONSTRAINT weekly_plan_items_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.weekly_plans(id),
  CONSTRAINT weekly_plan_items_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id)
);
CREATE TABLE public.weekly_plans (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  store_id uuid NOT NULL,
  week_start date NOT NULL CHECK (EXTRACT(isodow FROM week_start) = 1::numeric),
  status text NOT NULL DEFAULT 'generated'::text,
  strategy jsonb,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT weekly_plans_pkey PRIMARY KEY (id),
  CONSTRAINT weekly_plans_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id)
);